body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/sea.jpg);
  background-color: #F3F3F3;
}

*,
*::before,
*::after {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  background-color: aliceblue;
  border-radius: 60px;
  padding: 14px 20px;
  gap: 5px;
  margin-bottom: 3%;
}

h1 {
  color: #ea8731;
  font-size: 3rem;
}

.set-up {
  box-sizing: border-box;
  align-items: center;
}

.form-type-number {
  position: relative;
  height: 50px;
}
input {
  color: ea8731;
  appearance: none;
  position: absolute;
  top: 0;
  display: block;
  width: 40%;
  height: 50px;
  margin: auto;
  text-align: center;
  font-size: 1.1em;
  font-weight: 500;
  background-color: white;
  border-radius: 40px;
  border: 1px solid #ea8731;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none;
}

.form-start {
  color: #ea8731;
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  transform: perspective(1px) translateZ(0px);
  transition-duration: 0.2s;
  background-color: aliceblue;
  border-radius: 60px;
  padding: 14px 20px;
  gap: 5px;
}

.form-board {
  color: #ea8731;
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  transform: perspective(1px) translateZ(0px);
  transition-duration: 0.2s;
  background-color: rgb(232, 201, 144);
  border-radius: 60px;
}

.btn-start {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  cursor: pointer;
  transform: perspective(1px) translateZ(0px);
  transition-duration: 0.2s;
  background-color: hsl(23, 100%, 50%);
  border-radius: 60px;
  padding: 14px 20px;
  gap: 5px;
  margin: 5%;
}

.btn-start:hover {
  background-color: hsl(23, 100%, 50%);
  margin: 6%;
}

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 66vh;
}

.splash-title {
  font-family: 'Bangers', cursive;
  font-size: 10rem;
}

.splash-battleship-image {
  position: absolute;
  bottom: 5vh;
  left: 20vw;
  width: 100%;
  transform: rotateY(180deg);
  pointer-events: none;
  opacity: .25;
}

.btn {
  font-size: inherit;
  color: rgb(255, 255, 255);
  background-color: hsl(23, 100%, 50%);
  padding: .5em 1em;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 60px;
  margin: 5%;
}

.btn:hover,
.btn:focus {
  background-color: hsl(23, 100%, 50%);
  margin: 5%;
}

.splash-btn {
  font-size: 2rem;
  margin-left: 2rem;
}

.splash-btn:first-child {
  margin-left: 0;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameFase{
  margin: 3%;
}

.game-board {
  display: grid;
  gap: 1px;
  max-width: 580px;
  margin: auto;
  padding: 2px;
  border: 3px solid #050538;
  border-radius: 5px;
  background-color: transparent;
  opacity: 0.9;
}

.my-cell {
  width: 60px;
  height: 60px;
  background-size: cover; 
  background-position: center; 
  border: 1px solid #0fe633;
  color: black;
  font-size: 2em;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.opponent-cell {
  width: 60px;
  height: 60px;
  background-size: cover; 
  background-position: center; 
  border: 1px solid #ff6201;
  color: black;
  font-size: 2em;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: white;
  /*background-image: url(./img/sea.jpg);*/
}

.header-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bangers', cursive;
  font-size: 24px;
  font-weight: 700;
  border: none;
  color: black;
  background-color: transparent;
}

.ship {
  background-color: gray;
}

.parent {
  margin-top: 5%;
  text-align: center;
}

.child {
  padding: 1rem 1rem;
  display: inline-block;
  vertical-align: middle;
}